body {
    font-family: 'Arial', sans-serif;
    background-color: #ddd;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: teal;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 90px;
}

.container:hover {
    background-color: rgb(8, 117, 225);
    transition: 5s
}

button {
    background-color: rgb(74, 232, 74);
    color: #0b0b0b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50px;
}

button:hover {
    background-color:rgb(4, 198, 4);
}

#button1 {
    background-color: tomato;
    color: #0b0b0b;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50px;
}

#button1:hover {
    background-color: red;
}

label, input {
    margin: 10px 0;
    display: block;  
}

p {
    font-weight: bold;
    color: #ffffff;
}
